*, *::after, *::before {
    box-sizing:border-box;  
}

html {
    overflow-x: hidden;
}

body {
    font-family: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(243, 243, 243);
}

/* Navigatie menu */
header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100vw;
}
nav {
    position: relative;
    display: flex;
    width: 15em;
    margin: 0 6.5vw 0 auto;
    height: 2.7em;
    font-size: 1em;
}
nav a {
    color: black;
    text-decoration: none;
    line-height: 3em;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation {
    position: absolute;
    height: 0.15em;
    bottom: 0;
    z-index: 0;
    background: black;
    transition: all 0.5s ease 0s;
}
nav .start-overmij, 
a:first-of-type:hover~.animation {
    width: 4em;
    left: 0.5em;
}
a:first-of-type {
    width: 5em;
}
nav .start-projecten, 
a:nth-of-type(2):hover~.animation {
    width: 4.6em;
    left: 5.2em;
}
a:nth-of-type(2) {
    width: 5em;
}
nav .start-contact, 
a:last-of-type:hover~.animation {
    width: 4em;
    left: 10.5em;
}
a:last-of-type {
    width: 5em;
}

@keyframes fotoVergrootInfaden {
    0% {
        opacity: 0;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
    }
}

body {
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

section::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
section {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main>article {
    padding: 0 0.3em;
    position: fixed;
    top: 2.3em;
    width: 87vw;
    margin: 0 6.5vw;
    z-index: -1;
}
main>article p {
    text-align: right;
    font-size: 1em;
}
main>article p:first-of-type {
    margin-top: 0;
    padding-top: 9.7em;
}
main>article img#profielfoto {
    animation-name: fotoVergrootInfaden;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: absolute;
    top: 4em;
    left: 0.3em;
    width: 50vw;
    max-width: 12em;
    border: 0.1em solid black;
    border-radius: 25vw;
    box-shadow: black 0.05em 0.05em 0.5em;
}
main>section {
    z-index: 2;
    position: relative;
    width: 100vw;
    margin-top: 22em;
    padding-bottom: 0.5em;
    background-color: white;
}
main>section>div {
    opacity: 0;
    transition: ease-out 250ms;
}
main>section>div.infadenSection {
    opacity: 1;
    transition: ease-in 500ms;
}
main>section h1 {
    font-size: 1.8em;
    font-weight: normal;
    width: 87vw;
    margin: auto;
    padding: 0.6em 0 0.4em;
}
main>section article {
    width: 87vw;
    margin: 0.5em auto;
}
main>section article h2 {
    font-size: 1.4em;
    font-weight: normal;
    font-style: italic;
    margin: 0 0 0.3em;
}
main>section article div {
    display: flex;
    margin-bottom: 1.5em;
}
main>section article img {
    width: 30vw;
    height: 30vw;
}
main>section article ul {
    margin: 0;
}


/* Projecten pagina */
.projecten {
    overflow-x: scroll;
    overflow-y: hidden;
    /* background-color: azure; */
}
.projecten main {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.projecten main article {
    position: relative;
    left: 90vw;
    height: 64.5vw;
    max-height: 32.1em;
    padding: 0;
}
.projecten main>article {
    position: fixed;
    left: 0;
    top: 32.4vh;
    height: 32.5vh;
    max-height: 12.5em;
    display: flex;
    align-items: center;
    padding: 0;
    transition: 300ms ease-in;
}
.projecten main>article.uitfaden {
    opacity: 0;
    transition: 500ms ease-out;
}
.projecten main>section {
    display: flex;
    background: none;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 1;
    width: 100vw;
    margin-top: 0;
    padding-bottom: 0;
}
.projecten main>section article {
    margin: 0 2.5em 0 0;
    width: 110vw;
}
.projecten main>section article h2 {
    width: 100vw;
}
/* .projecten main>article:last-of-type {
    width: 64.5vw;
    height: 32.1em;
    background-color: rgb(243, 243, 243);
} */
.projecten main>article h1 {
    width: 75vw;
    margin: 0.5em 0 0.4em;
    font-size: 1.9em;
    font-weight: normal;
}
.projecten main>article p {
    padding: 0;
    text-align: left;
    font-style: italic;
}
.projecten main>section article img {
    height: 64.5vw;
    width: auto;
    max-height: 32.1em;
    /* object-fit: cover;
    object-position: 50% 50%; */
    border: 1px solid grey;
}
/* #projecten main>article:first-of-type img {
    object-position: 0 0;
} */
.projecten main>section article img:hover {
    opacity: 0.4;
    transition: 500ms;
    transform: scale(1.05);
}


/* Contact pagina */

