*, *::after, *::before {
    box-sizing:border-box;  
}

/* Scrollbars wegwerken */
body {
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

section::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
section {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

div::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
div {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


html {
    overflow-x: hidden;
}

body {
    font-family: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(243, 243, 243);
}

/* Navigatie menu */
header {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgb(243, 243, 243);
}
nav {
    position: relative;
    display: flex;
    width: 15em;
    margin: 0 6.5vw 0 auto;
    height: 2.7em;
    font-size: 1em;
}
nav a {
    color: black;
    text-decoration: none;
    line-height: 3em;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation {
    position: absolute;
    height: 0.15em;
    bottom: 0;
    z-index: 0;
    background: black;
    transition: all 0.5s ease 0s;
}
nav .start-overmij, 
nav a:first-of-type:hover~.animation {
    width: 4.1em;
    left: 0.5em;
    bottom: 0.2em;
}
nav a:first-of-type {
    width: 5em;
}
nav .start-portfolio, 
nav a:nth-of-type(2):hover~.animation {
    width: 4.2em;
    left: 5.4em;
    bottom: 0.2em;
}
nav a:nth-of-type(2) {
    width: 5em;
}
nav .start-contact, 
nav a:last-of-type:hover~.animation {
    width: 4.1em;
    left: 10.5em;
    bottom: 0.2em;
}
nav a:last-of-type {
    width: 5em;
}

@keyframes fotoVergrootInfaden {
    0% {
        opacity: 0;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
    }
}

main>article {
    padding: 0 0.3em;
    position: fixed;
    top: 2.3em;
    width: 87vw;
    margin: 0 6.5vw;
}
main>article p {
    text-align: right;
    font-size: 1em;
}
main>article p:first-of-type {
    margin-top: 0;
    padding-top: 9.7em;
}
main>article p:last-of-type {
    margin-bottom: 1.5em;
}
main>article img#profielfoto {
    animation-name: fotoVergrootInfaden;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: absolute;
    top: 4em;
    left: 0.3em;
    width: 50vw;
    max-width: 12em;
    border: 0.1em solid black;
    border-radius: 25vw;
    box-shadow: black 0.05em 0.05em 0.5em;
}
main>article a {
    text-decoration: none;
    font-size: 6vw;
    /* font-size: 1.2em; */
    color: black;
    border: 0.6vw solid black;
    border-radius: 10vw;
    padding: 0.5em;
    margin-left: 22.6vw;
}
main>section {
    z-index: 2;
    position: relative;
    width: 100vw;
    margin-top: 25.5em;
    padding-bottom: 0.5em;
    background-color: white;
}
main>section>div {
    opacity: 0;
    transition: ease-out 250ms;
}
main>section>div.infadenSection {
    opacity: 1;
    transition: ease-in 500ms;
}
main>section h1 {
    font-size: 1.8em;
    font-weight: normal;
    width: 87vw;
    margin: auto;
    padding: 0.6em 0 0.4em;
}
main>section article {
    width: 87vw;
    margin: 0.5em auto;
}
main>section article h2 {
    font-size: 1.4em;
    font-weight: normal;
    font-style: italic;
    margin: 0 0 0.3em;
}
main>section article div {
    display: flex;
    margin-bottom: 1.5em;
}
main>section article img {
    width: 30vw;
    height: 30vw;
}
main>section article ul {
    margin: 0;
}

@keyframes pijlBewegen{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1em);
    }
    100% {
        transform: translateY(0);
    }
}
main>img {
    animation-name: pijlBewegen;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
    position: absolute;
    width: 2.2em;
    height: auto;
    top: 85vh;
    left: calc(50vw - 1.1em);
    z-index: 5;
    opacity: 0.7;
    transition: 150ms ease-in;
}
main>img.pijlUitfaden {
    opacity: 0;
    transition: 150ms ease-out;
}


/* portfolio pagina */
.portfolio {
    /* overflow-x: scroll; */
    overflow-y: hidden;
    /* background-color: azure; */
}
.portfolio main {
    /* overflow-x: scroll;
    overflow-y: hidden; */
    height: 100vh;
    width: 100vw;
    /* display: flex;
    align-items: center; */
}
.portfolio main article {
    position: relative;
    left: 90vw;
    height: 64.5vw;
    max-height: 32.1em;
    padding: 0;
}
.portfolio main>article {
    position: fixed;
    left: 0;
    top: 32.4vh;
    height: 32.5vh;
    max-height: 12.5em;
    display: flex;
    align-items: center;
    padding: 0;
    transition: 300ms ease-in;
}
.portfolio main>article.tekstUitfaden {
    opacity: 0;
    transition: 500ms ease-out;
}
.portfolio main>article h1 {
    width: 75vw;
    margin: 0.5em 0 0.4em;
    font-size: 1.9em;
    font-weight: normal;
}
.portfolio main>article p {
    padding: 0;
    text-align: left;
    font-style: italic;
}
.portfolio main>section {
    display: flex;
    align-items: center;
    background: none;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 1;
    height: 100vh;
    width: auto;
    margin-top: 0;
    padding-bottom: 0;
    /* scroll-behavior: smooth; */
}
.portfolio main>section article {
    display: block;
    margin: 0;
    /* padding-right: 2.5em; */
    width: 110vw;
    max-width: 54em;
    background-color: rgb(243, 243, 243)
}
.portfolio main>section article div {
    opacity: 0;
    display: block;
}
.portfolio main> section article:last-of-type {
    margin: 0;
    width: 100vw;
    max-width: 52em;
}
.portfolio main>section article img {
    height: 64.5vw;
    width: auto;
    max-height: 32.1em;
    /* object-fit: cover;
    object-position: 50% 50%; */
    border: 1px solid grey;;
}
.portfolio main>section article:last-of-type img {
    margin-right: 100vw;
}
.portfolio main>section article img:hover {
    transition: 500ms;
    transform: scale(1.05);
}
.portfolio main>article:nth-of-type(2) {
    opacity: 0;
    transition: 300ms ease-out;
}
.portfolio main>article:nth-of-type(2).tekstInfaden {
    opacity: 1;
    transition: 500ms ease-in;
}



body .openProject,
html .openProject {
    width: 100vw;
}
.portfolio main>section.openProject {
    overflow-x: hidden;
    overflow-y: initial;
}
.portfolio main>section article.openProject {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    max-height: 100%;
    width: 100vw;
    max-width: 100vw;
    padding: 0;
    background-color: rgb(243, 243, 243);
    transition: 600ms;
}
.portfolio main>section article.openProject>img {
    border: none;
    width: 87vw;
    height: auto;
    margin: 6.7em 0 0 6.5vw;
    /* margin-top: 6.7em; */
    /* position: absolute;
    top: 0; */
}
.portfolio main>section article.openProject img:hover {
    transform: none;
}
.portfolio main>section article.openProject div {
    opacity: 1;
    display: block;
    width: 87vw;
    margin: 1em auto;
    transition: 2s;
}
.portfolio main>section article.openProject div h2 {
    font-style: normal;
    font-weight: bold;
}
.portfolio main>section article.openProject div h3 {
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: 0;
}
.portfolio main>section article.openProject div p:not(:first-of-type) {
    margin-top: 0;
}
.portfolio main>section article.openProject div div {
    overflow-x: scroll;
    display: flex;
}
.portfolio main>section article.openProject div div img {
    width: 80vw;
    height: 100%;
    border: none;
    margin-right: 3.5vw;
}
/* .portfolio main>section article.openProject div div img:first-of-type {
    margin-right: 3.5vw;
} */


/* Contact pagina */

